<!-- Sorgt dafür, dass die Tabelle zentriert dargestellt wird -->
<div class="columns is-centered">
  <div class="column is-12">

    <h2 class="title is-2 myClass">Aktuelle Anzeigen</h2>

    <div class="section filterformular">
      <div class="field is-horizontal">
        <div class="field-label is-normal filterformular">
          <label class="label has-text-left">Nach&nbsp;Ort&nbsp;filtern:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input id="ortInput" class="input" type="text" placeholder="Nach Ort filtern">
            </p>
          </div>
          <div class="field">
            <a class="button is-info" id="buttonNachOrtFiltern">
              Suche
            </a>
          </div>
          <div class="select">
            <select id="selectOrt">
              <option selected disabled>Nach&nbsp;5&nbsp;Beliebtesten&nbsp;Orten&nbsp;filtern:</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">     
        <div class="field-label is-normal filterformular">
          <label class="label has-text-left">Nach&nbsp;Suchbegriff&nbsp;filtern:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input id="keywordInput" class="input" type="text" placeholder="Nach Suchbegriff filtern">
            </p>
          </div>
          <div class="field">
            <a class="button is-info" id="buttonNachKeywordFiltern">
              Suche
            </a>
          </div>
        </div>
      </div> 

      <div class="field is-hidden is-invisible" id="buttonFilterEntfernen">
        <a class="button is-danger is-light">
          Filter entfernen
        </a>
      </div>
    </div>

      <table class="table is-striped is-hoverable is-fullwidth">
      </table>

      <section id="fehlerKeinOrt" class="section is-invisible is-hidden">
        <div class="notification is-info is-light">
          <span>Für diesen Ort wurde kein Treffer gefunden.</span>
        </div>
      </section>
      <section id="fehlerKeinKeyword" class="section is-invisible is-hidden">
        <div class="notification is-info is-light">
          <span>Für diesen Suchbegriff wurde kein Treffer gefunden.</span>
        </div>
      </section>

    </div>
  </div>