/* body {
    background: lightgrey;
} */

/* #navbarBasicExample{
    margin-left: 30px;
} */

#navbarLogo {
    height: auto;
    width: 4em;
}

 /* h2{ 
    padding-left: 40px;
    padding-top: 20px;
}  */

.myClass{
    color: hsl(171, 94%, 34%);
}

h3{
    margin-top: 15px;
    margin-bottom: 20px; 
}

.field, .label{
    color: rgb(106, 107, 107)
}

/*input:valid{
    color:green
}
*/
/* input:invalid{
    background-color:rgba(255, 17, 0, 0.191)
}

textarea:invalid{
    background-color:rgba(255, 17, 0, 0.191)
} */


#guestbook_form{
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-top:10px;
    padding-bottom: 50px;
    /* margin-left: 20px;
    margin-right: 20px; */
}

#verhandlungsbasis{
    margin-top: 15px;
    margin-bottom: 40px;
    /* margin-left: 20px; */
}

#preis, #beschreibung, #titel, #ort, #nachname, #vorname{
    margin-top: 10px;
    margin-bottom: 20px;
}

#kontakt{
    margin-top: 10px;
    margin-bottom: 20px;
}

.is-horizontal-center {
    justify-content: center;
}

table {
    max-width: 100vw;
}
.filterformular{
    padding-left: 0;
    margin-right: 0;
}

#selectOrt {
    margin-bottom: 2em;
}

#preisSpalte {
    overflow-x: visible;
    white-space: nowrap;
}

.tabellenlink {
    cursor: pointer;
}