<h2 class="title is-2 myClass">Meine Anzeige</h2>
<div></div>
<form>
    <div class="field">
        <div class="control">
            <label class="label">
                Titel*:
                <input class="input is-normal is-primary" type="text" maxlength="80" id="titel"
                    placeholder="Was wollen Sie verkaufen?" required type="text">
            </label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">
                Ort*:
                <input class="input is-normal is-primary" type="text" maxlength="40" id="ort"
                    placeholder="Geben Sie Bitte Ihren Wohnort an!" required type="text">
            </label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">
                Beschreibung*:
                <textarea class="textarea is-primary" placeholder="Beschreibung Ihres Produkts" maxlength="1000"
                    id="beschreibung" required type="text"></textarea>
            </label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">
                Preis in € (optional):
                <input class="input is-normal is-primary" type="number" min="0.00" step="0.01" max="10000.00" id="preis"
                    placeholder="Was kostet Ihr Produkt?">
            </label>
        </div>
    </div>
    <div>
        <label class="checkbox">
            <input type="checkbox" id="verhandlungsbasis" value="1">
            Preis auf Verhandlungsbasis
        </label>
    </div>
    <h3 class="title is-3">Kontakt</h3>
    <div class="field">
        <div class="control">
            <label class="label">
                Vorname*:
                <input class="input is-normal is-primary" type="text" maxlength="30" id="vorname"
                    placeholder="Geben Sie Bitte Ihren Vornamen an!" required type="text">
            </label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">
                Nachname*:
                <input class="input is-normal is-primary" type="text" maxlength="30" id="nachname"
                    placeholder="Geben Sie Bitte Ihren Nachnamen an!" required type="text">
            </label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">
                <div class="control">
                    <label>
                        Telefonnummer oder E-Mail*:
                        <input class="input is-normal is-primary" type="text" placeholder="Bitte Telefonnummer oder E-Mail eingeben!"
                            maxlength="30" id="kontakt" required>
                    </label>
                </div>
            </label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="button is-primary is-rounded" type="button" value="Absenden" id="absenden"></button>
        </div>
        <div>
            <br>
        </div>
        <section id="error" class="section is-invisible is-hidden">
            <!--<div class="notification is-danger is-light is-invisible is-hidden">-->
            <div class="notification is-danger is-light">
                <button class="delete"></button>
                <!--um Fehlermeldung weg zu machen-->
                <span id="leerePflichtfelder" class="is-invisible is-hidden">Bitte füllen Sie alle mit "*" markierten Felder aus!</span>
                <span id="negativerPreis" class="is-invisible is-hidden">Bitte geben Sie einen positiven Preis an!</span>
            </div>
        </section>
        <section id="sended" class="section is-invisible is-hidden">
            <!--<div class="notification is-danger is-light is-invisible is-hidden">-->
            <div class="notification is-success is-light">
                <button class="delete"></button>
                <!--um Fehlermeldung weg zu machen-->
                <p><span id="gesendet">Ihre Anzeige wurde erfolgreich gespeichert!</span></p>
                <p><a class="linkAktuelleAnzeigen">Zurück zu den aktuellen Anzeigen.</a></p>
            </div>
        </section>
    </div>
</form>
