<h2 class="title is-2 myClass">Anzeigendetails</h2>
<div>
    <table class="table" id="Anzeigendetails">
        <tr>
            <td>Titel:</td>
            <td id="Titel"></td>
        </tr>
        <tr>
            <td>Ort:</td>
            <td id="Ort"></td>
        </tr>
        <tr>
            <td>Beschreibung:</td>
            <td id="Beschreibung"></td>
        </tr>
        <tr>
            <td>Preis:</td>
            <td id="Preis"></td>
        </tr>
        <tr>
            <td>Verhandlungsbasis:</td>
            <td id="Verhandlungsbasis"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td id="Name"></td>
        </tr>
        <tr>
            <td>Kontakt:</td>
            <td id="Kontakt"></td>
        </tr>
    </table>
    <div class="field">
        <a class="button is-info zurueckZuAktuelleAnzeige">
          Zurück
        </a>
    </div>
</div>



<!-- 
<div></div>
<div>
    <div id="Titel">
    </div>
</div>
<div>
    <div id="Ort">
    </div>
</div>
<div>
    <div id="Beschreibung">
    </div>
</div>
<div>
    <div id="Preis">
    </div>
</div>
<div id="Verhandlungsbasis">
</div>
<h3 class="title is-3">Kontakt</h3>
<div>
    <div id="Name">
    </div>
</div>
<div>
    <div id="Kontakt">
    </div>
</div> -->